/*********************
Inicio Estilo Footer
*********************/

.footer {
  background-color: $fondocontraste;
  padding: 1.3rem;
  @include flexbox-column-display($align-items: center);
  gap: 1.5rem;

  &__section-texto {
    text-align: center;
    max-width: 670px;
  }

  &__section-redes {
    @include flexbox-column-display(
      $flex-direction: row,
      $justify-content: center,
      $align-items: center
    );
    width: 100%;
    gap: 2rem;
    max-width: 670px;
  }

  &__link-redes {
    width: 1.5rem;
  }

  &__img-redes {
    width: 100%;
    filter: invert(100%);
  }
}

/* ************************************** 
INICIO MEDIA QUERIES FOOTER 
************************************** */

@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;

    &__section-redes {
      width: 30%;
      gap: 2rem;
    }

    &__link-redes {
      width: 2rem;
      &:hover {
        filter: invert(40%);
      }
    }
  }
}
/* ************************************** 
FIN MEDIA QUERIES FOOTER 
************************************** */

/*********************
Fin Estilo Footer
*********************/
