/* 
****************************************
****************************************
INICIO TRABAJOS
**************************************** 
****************************************
*/

.section-trabajos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.card {
  &:hover {
    filter: brightness(105%);
    & .card-body {
      background-color: rgba($color: $fondocontraste, $alpha: 0.6);
    }
  }

  &-body {
    @include flexbox-column-display(
      $align-items: center,
      $justify-content: space-between
    );
  }

  &-title {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  &-text {
    font-size: 0.8rem;
    padding: 0.1rem;
  }

  &__links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    &-individual {
      width: 1.5rem;
    }
    &-img {
      width: 100%;
      filter: invert(100%);
      &:hover {
        filter: invert(40%);
      }
    }
  }
}

/* ************************************** 
INICIO MEDIA QUERIES TRABAJOS
************************************** */

/*************************************** 
FIN MEDIA QUERIES TRABAJOS
************************************** */

/* 
****************************************
****************************************
FIN TRABAJOS
**************************************** 
****************************************
*/
