/* 
****************************************
****************************************
INICIO TRABAJOS
**************************************** 
****************************************
*/

.section-trabajos {
  @include flexbox-column-display($align-items: center);
  gap: 3rem;
}

.card {
  &:hover {
    filter: brightness(120%);
  }

  &-title {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  &-text {
    font-size: 0.8rem;
    padding: 0.1rem;
  }

  &__links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    &-individual {
      width: 1.5rem;
    }
    &-img {
      width: 100%;
      filter: invert(100%);
      &:hover {
        filter: invert(40%);
      }
    }
  }
}

/* ************************************** 
INICIO MEDIA QUERIES TRABAJOS
************************************** */

/* ************************************** 
FIN MEDIA QUERIES TRABAJOS
************************************** */

/* 
****************************************
****************************************
FIN TRABAJOS
**************************************** 
****************************************
*/
